---
Checks: |
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  bugprone-*,

  readability-identifier-naming,
  readability-braces-around-statements,
  readability-inconsistent-declaration-parameter-name,
  readability-magic-numbers,
  readability-make-member-function-const,
  readability-named-parameter,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-preprocessor,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-definition-in-anonymous-namespace,
  readability-uniqueptr-delete-release,
  readability-string-compare,

  llvm-namespace-comment,
  misc-definitions-in-headers,
  misc-misplaced-const,
  misc-redundant-expression,
  misc-throw-by-value-catch-by-reference,

  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-redundant-void-arg,
  modernize-replace-random-shuffle,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-emplace,
  modernize-use-noexcept,
  modernize-use-nullptr,

  performance-faster-string-find,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-move-const-arg
WarningsAsErrors: |
  clang-analyzer-*,
  clang-diagnostic-*,
  bugprone-*,
  readability-*,
  performance-*
AnalyzeTemporaryDtors: false
CheckOptions:
  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ClassConstantPrefix: k
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ProtectedMemberSuffix: _
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantPointerCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.ScopedEnumConstantCase: UPPER_CASE
  readability-identifier-naming.StaticConstantCase: UPPER_CASE

  readability-magic-numbers.IgnorePowersOf2IntegerValues: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
  readability-inconsistent-declaration-parameter-name.Strict: true

  llvm-namespace-comment.ShortNamespaceLines: 5
  modernize-use-auto.MinTypeNameLength: 15
  misc-definitions-in-headers.HeaderFileExtensions: "h,hh,hpp,hxx,ipp"
...
